@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "/Views/Intro/_IntroBase.cshtml";
}

<h1>Willkommen bei LENIE!</h1>

<p>Auf den folgenden Seiten erfährst du, was ich so alles kann!</p>
<p>Wische nach rechts um fortzufahren</p>